
resources.ap_
classes.dex
*.class
R.java
.metadata/*
DiffGen_device.db3
DiffGen_12.zip
Differential/bin/Differential.apk
SQLiteSpy.db3
sizing.log
sizing_old.log
Differential.apk
Differential/Database/DiffGen_12.db3
Differential/proguard/dump.txt
Differential/proguard/mapping.txt
Differential/proguard/seeds.txt
Differential/proguard/usage.txt
Differential/Database/DiffGen_12.zip
Differential/bin/*
ActionBarSherlock/bin/*
ViewPagerIndicator/bin/*
Differential/Database/com.pennas.fpl_preferences.xml
Differential/gen/com/pennas/fpl/BuildConfig.java
Differential/assets/crashlytics-build.properties
Differential/res/values/com_crashlytics_export_strings.xml
ViewPagerIndicator/gen/com/viewpagerindicator/BuildConfig.java
ActionBarSherlock/gen/com/actionbarsherlock/BuildConfig.java
Differential/gen/.gitignore
.recommenders/
*.hprof