SELECT pm.is_home, pm.is_away, th.name home_team, ta.name away_team, pm.player_fpl_id FROM player_match pm, fixture f, team th, team ta WHERE pm.season = 11 AND pm.player_fpl_id IN (20, 27, 105, 153, 235, 270, 286, 289, 336, 364, 368, 449, 496, 570, 633) AND f._id = pm.fixture_id AND th._id = f.team_home_id AND ta._id = f.team_away_id AND pm.gameweek = 37
